:root {
 --background: #fff;
 --background-dark: #272526;
 --primary: #e10f4c;
 --primary-dark: #b6063b;
 --color-secondary: #c4c4c4;

 --action: #ed213a;
 --strategy: #11998e;
 --fight: #f37335;
 --running: #63707b;
 --rpg: #FFC412;
 --construction: #3c1053;
 --real-life: #1295ea;
 --music: #ff957e;
 --sports: #0f9b0f;

 --good: #96c93d;
 --reasonable: #ffe000;
 --bad: #f44336;

 font-size: 60%;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background: var(--background);
}

body,
input,
button,
textarea {
 font: 500 1.6rem;
}

.collapsible-body {
 background-color: #fff;
}

@media (min-width: 700px) {
 :root {
   font-size: 62.5%;
 }
}
